.nav-tabs .nav-link.active{
    font-weight: bold;
    background-color: transparent;
    border-bottom: 3px solid blue;
    border-right: none;
    border-left: none;
    border-top: none;
    color: blue;
}